﻿
@{
    ViewBag.Title = "Quoc Duy";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E4 VNEXPRESS</title>
    <link href="~/content/CSS/my_css.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>(028) 123456</a>
                <a>(028) 123456</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng nhập</button>
                <button>Đăng ký</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="banner-container"
            
             <img src="~/content/img/Layout_VnExpress.png" />
            <img src="~/content/img/banner-ads-1.png" />
            <img src="~/content/img/banner-ads-2.png" />
        </div>
    </div>

</body>
</html>